
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@import './layout/footer.scss';
@import './layout/header.scss';
@import './layout/main_section.scss';
@import './layout/people_are.scss';
@import './layout/revol_what.scss';


